figcaption {
    font-style: italic;
}

/* We don't specify a default height for bare img (no class or id)
 * because doing so is not reversible in more
 * specific elements. This is a major pain point for many projects.
 */

#via-markdown ~ p img {
    height: auto;
    width: auto;
    max-height: 50vh;
    max-width: 100%;
}

#via-markdown ~ p span span {
    display: block;
    margin-top: .4em;
}

.responsive-thumbnail {
    display: inline-block;
    margin-right: 1em;
}

.responsive-figure img {
    height: auto;
    width: auto;
    max-height: 50vh;
    max-width: 100%;
}

.responsive-figure figcaption h2 {
    font-size: 1rem;
}

.responsive-figure figcaption p {
    font-size: .875rem;
}

.responsive-figure.fullwidth img {
    height: auto;
    width: 100%;
    max-height: unset;
}

.responsive-figure-originalheight {
    display: block;
    margin: 0;
    overflow: visible;
}

.responsive-figure-originalheight img {
    box-sizing: content-box;
    display: block;
    height: unset;
    margin: 0;
    min-height: max-content;
    min-width: max-content;
    overflow: visible;
}

.markdown-image-wrapper > span {
    display: block;
    margin-top: .4em;
}

.markdown-image-wrapper img {
    height: auto;
    width: auto;
    max-height: 50vh;
    max-width: 100%;
}

.responsive-div img {
    height: auto;
    width: auto;
    max-height: 50vh;
    max-width: 100%;
}

.responsive-markdown img {
    height: auto;
    width: auto;
    max-height: 50vh;
    max-width: 100%;
}

#markdown-thumbnail-test ~ p {
    display: inline-block;
    margin-right: 1em;
}

.thumbnail-markdown {
    display: inline-block;
}

.thumbnail-markdown span span {
    display: none;
}

.thumbnail-figure figcaption {
    display: none;
}

.thumbnail-figure {
    display: inline-block;
    margin-right: 1em;
}

.main-test-min [id|="dfd-hugo-image-handling-module"] ~ #examples ~ [id|="result"] + p {
    background-color: black;
    display: block;
    line-height: 1;
    width: 100%;
}

.main-test-min [id|="dfd-hugo-image-handling-module"] ~ #examples ~ [id|="result"] + p img {
    background-color: whitesmoke;
    border: 2px solid black;
    height: auto;
    opacity: .75;
    padding: .4em;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #markdown-thumbnail-test ~ p {
        display: block;
        margin-right: revert;
    }

    .thumbnail-markdown {
        display: revert;
    }

    .thumbnail-markdown span span {
        display: block;
    }

    .thumbnail-figure figcaption {
        display: block;
    }

    .thumbnail-figure {
        display: block;
        margin-right: revert;
    }
}

.metadata-image-wrapper {
    width: 100%;
}

.metadata-image {
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}