# https://editorconfig.org/ for details
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = tab
indent_size = 4
tab_width = 4

# Ignore "third party" directories
[third_party/**]
ignore = true
[vendor/**]
ignore = true
[_vendor/**]
ignore = true
