{{- $images := partial "helpers/lib/metadata/gather-media-images" .Page -}}
{{- if reflect.IsMap $images -}}
<div class="metadata-image-wrapper">
    <img class="metadata-image" src="{{ $images.link }}"{{ with $images.width }} width="{{ . }}"{{ end }}{{ with $images.height }} height="{{ . }}"{{ end }}{{ with $images.alt }} alt="{{ . }}"{{ end }}{{ with $images.title }} title="{{ . }}"{{ end }}>
</div>
{{- else if reflect.IsSlice $images -}}
    {{- range $images }}
        {{- if reflect.IsMap . -}}
        <div class="metadata-image-wrapper">
            <img class="metadata-image" src="{{ .link }}"{{ with .width }} width="{{ . }}"{{ end }}{{ with .height }} height="{{ . }}"{{ end }}{{ with .alt }} alt="{{ . }}"{{ end }}>
        </div>
        {{- else -}}
        <div class="metadata-image-wrapper">
            <img class="metadata-image" src="{{ . }}">
        </div>
        {{- end -}}
    {{- end -}}
{{- else if $images -}}
<div class="metadata-image-wrapper">
    <img class="metadata-image" src="{{ $images }}">
</div>
{{- end -}}