<!DOCTYPE html>
{{- if not (.Page.Store.Get "LQIPs") -}}
	{{- .Page.Store.Set "LQIPs" (dict) -}}
{{- end -}}
{{- if not (.Page.Scratch.Get "LQIPStarted") -}}
	{{- range $styleName, $styleInfo := .Page.Store.Get "LQIPs" -}}
		{{- if $styleInfo -}}
			{{- .Page.Store.SetInMap "LQIPs" $styleName (dict "oldStyle" true "style" $styleInfo.style) -}}
		{{- else -}}
			{{- .Page.Store.SetInMap "LQIPs" $styleName (dict "oldStyle" true "style" "") -}}
		{{- end -}}
	{{- end -}}
	{{- .Page.Scratch.Set "LQIPStarted" true -}}
{{- end -}}
{{- if eq (.Page.Scratch.Get "LQIPFinished") nil -}}
	{{- .Page.Scratch.Set "LQIPFinished" false -}}
{{- else -}}
	{{- .Page.Scratch.Set "LQIPFinished" true -}}
{{- end -}}
<html lang="{{ $.Site.Language.Lang }}">
{{- partial "head.html" . }}
<body>
{{- partial "header" . }}
<div class="test-scrollable-min">
	<h1>{{- partial "helpers/page-title.html" . }}</h1>
	<div class="main-test-min" id="content">
{{- block "main" . }}
{{- end -}}
{{- partial "page-navigation" . }}
	</div>
{{- partial "footer" . }}
</div>
</body>
</html>
{{- /* Remove trailing newlines */ -}}
